*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


.click{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%; 
    cursor: pointer;
}


.click:hover{
    background-color: color-mix(in srgb, black 20%, white);
    transition: all 1s ease-out;
    scale: 1.1;
}


.score{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 40px;
    user-select: none;
}

.info-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 14px;
}

.shop{
    display: flex;
    gap: 20px;
}

.btn {
    color: black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

.subtitle{
    color: white;
    display: flex;
}

.btn:hover{
    background-color: color-mix(in srgb, black 20%, white);
    transition: all 1s ease-out;
    transform: translateY(-5px);
}